<!DOCTYPE html> 
<html>  
    <head>  
        <title>cell padding</title>  
        <style>  
            .gfg { 
                width:auto; 
                text-align:center; 
                padding:20px; 
            } 
            img { 
                max-width:100%; 
                        height:auto; 
            } 
        </style>  
    </head>  
    <body> 
