<!DOCTYPE html> 
<html>  
    <head>  
        <title>cell padding</title>  
        <style>  
          .responsive {
  width: 100%;
  height: auto;
}
        </style>


<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
